{% if jobs %}
<div class="job-list">
    <h2 class="job-heading">Active Jobs</h2>
    {% for job in jobs %}
    <div class="job-item">
        <span class="job-spinner"></span>
        <span class="job-type">{{ job.job_type }}</span>
        {% if job.article_title %}
        <span class="job-title">{{ job.article_title[:50] }}{% if job.article_title|length > 50 %}...{% endif %}</span>
        {% endif %}
        <span class="badge badge-{{ job.status }}">{{ job.status }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}
